parameters:
    level: 8
    paths:
        - src
        - tests
    ignoreErrors:
        -
            identifier: method.notFound
            message: '#Call to an undefined method Pest\\Expectation<[^>]+>::toPassAssertion\(\)#'
            path: tests/Feature/Pest/ToPassAssertionTest.php
        -
            identifier: method.notFound
            message: '#Call to an undefined method Pest\\Expectations\\OppositeExpectation::toPassAssertion\(\)#'
            path: tests/Feature/Pest/ToPassAssertionTest.php
        -
            identifier: method.notFound
            message: '#Call to an undefined method Pest\\Expectation<[^>]+>::toPassEval\(\)#'
            path: tests/Feature/Pest/ToPassEvalTest.php
        -
            identifier: method.notFound
            message: '#Call to an undefined method Pest\\Expectations\\OppositeExpectation::toPassEval\(\)#'
            path: tests/Feature/Pest/ToPassEvalTest.php
        -
            identifier: method.notFound
            message: '#Call to an undefined method Pest\\Expectation<[^>]+>::toPassEval\(\)#'
            path: tests/Feature/Examples/ExampleAgentTest.php
        -
            identifier: method.notFound
            message: '#Call to an undefined method Pest\\Expectation<[^>]+>::toPassRubric\(\)#'
            path: tests/Feature/Pest/ToPassRubricTest.php
        -
            identifier: method.notFound
            message: '#Call to an undefined method Pest\\Expectations\\OppositeExpectation::toPassRubric\(\)#'
            path: tests/Feature/Pest/ToPassRubricTest.php
        -
            identifier: method.notFound
            message: '#Call to an undefined method Pest\\Expectation<.+>::toMatchSchema\(\)#'
            path: tests/Feature/Pest/ToMatchSchemaTest.php
        -
            identifier: method.notFound
            message: '#Call to an undefined method Pest\\Expectations\\OppositeExpectation::toMatchSchema\(\)#'
            path: tests/Feature/Pest/ToMatchSchemaTest.php
