@import '@fontsource/instrument-sans/400.css';
@import '@fontsource/instrument-sans/500.css';
@import '@fontsource/instrument-sans/600.css';
@import '@fontsource/instrument-sans/700.css';
@import '@fontsource/jetbrains-mono/400.css';
@import '@fontsource/jetbrains-mono/500.css';

@import './tokens.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *,
  *::before,
  *::after {
    border-color: var(--color-border);
  }

  html {
    font-family: var(--font-sans);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--color-bg-page);
    color: var(--color-fg-default);
  }

  body {
    min-height: 100vh;
    font-feature-settings: 'ss01', 'cv11';
  }

  ::selection {
    background: var(--color-brand-500);
    color: var(--color-brand-foreground);
  }

  code,
  pre,
  kbd,
  samp {
    font-family: var(--font-mono);
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .text-pretty {
    text-wrap: pretty;
  }
}
